<p>Fight</p>

<table>
	<thead>
		<tr>
			<th><strong><%= @nombreLuchador1 %></strong></th>
			<th><strong><%= @nombreLuchador2 %></strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src=<%= @imagenLuchador1 %> ><td>
			<td><img src=<%= @imagenLuchador2 %> ></td>
		</tr>
		<tr>
			<td><%= @jugador1 %></td>
			<td><%= @jugador2 %></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>Ganador : Jugador <%= @ganador %></td>
			<td></td>
		</tr>
	</tfoot>
</table>
